<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audiobooks</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Estilos customizados -->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="./favicon-16x16.png" type="image/png">
</head>
<body>

<!-- Navbar -->
<nav>
        <div class="nav-wrapper custom-navbar">
            <a href="#" class="brand-logo custom-logo">
                <img src="/images/logo.png" alt="Logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/livros">Livros</a></li>
                <li><a href="/ebooks">eBooks</a></li>
                <li><a href="/audiobooks">Audiobooks</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/como_funciona">Como funciona</a></li>
                <li id="menu-dropdown-container" style="display: none;">
                    <a class="dropdown-trigger" href="#" data-target="dropdown-menu">Menu</a>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown-menu" class="dropdown-content">
                        <li><a href="/gerenciar_alunos"><i class="material-icons">people</i>Alunos</a></li>
                        <li><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                        <li><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                        <li><a href="/gerenciar_emprestimos"><i class="material-icons">swap_horiz</i>Requisição</a></li>
                    </ul>
                </li>
                <!-- Logout icon -->
                <li id="logout-link-container" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i>
                    </a>
                </li>
                <!--<li id="login-link-container"><a href="#" id="modal-login-link">Login</a></li>-->
                <li id="login-link-container">
                    <a href="#" id="modal-login-link">
                        <i class="material-icons">login</i>
                    </a>
                </li>
            </ul>
            <!-- Mobile Menu -->
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="/livros"><i class="material-icons">book</i>Livros</a></li>
                <li><a href="/ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li><a href="/audiobooks"><i class="material-icons">audiotrack</i>Audiobooks</a></li>
                <li><a href="/contato"><i class="material-icons">contact_mail</i>Contato</a></li>
                <li><a href="/como_funciona"><i class="material-icons">info</i>Como funciona</a></li>
                <li class="menu-item"><a href="/gerenciar_alunos"><i class="material-icons">school</i>Alunos</a></li>
                <li class="menu-item"><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                <li class="menu-item"><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li class="menu-item"><a href="/gerenciar_emprestimos"><i class="material-icons">receipt</i>Requisição</a></li>
                <!-- Divider -->
                <li class="divider"></li>
                <li id="logout-link-mobile" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i> Sair
                    </a>
                </li>
                <li id="login-link-container-mobile"><a href="#" id="modal-login-link-mobile"><i class="material-icons">login</i>Login</a></li>
            </ul>
        </div>
    </nav>

<!-- Modal de Login -->
<div id="modal-login" class="modal">
        <div class="modal-content">
            <h4>Login</h4>
            <div class="row">
                <form class="col s12" id="form-login">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="text" class="validate" required>
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" class="validate" required>
                            <label for="password">Senha</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        <i class="material-icons right">login</i>
                    </button>
                </form>
            </div>
        </div>
    </div>

<div class="container">

    <!-- Pesquisa e filtros -->
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input id="search" type="text" class="validate" placeholder="Digite o título ou autor">
                <label for="search">Buscar</label>
            </div>

            <!-- Preloader Indeterminate -->
            <div class="progress" id="preloader-livrivox" style="display: none;">
                  <div class="indeterminate"></div>
              </div>
        </div>
    </div>


    <!-- Listagem de Audiobooks -->
    <div id="audiobooks-container" class="row">
        <!-- Cards dos audiobooks serão inseridos aqui dinamicamente -->
    </div>

    <!-- Controles de Paginação -->
    <ul id="pagination-controls" class="pagination center-align">
        <!-- Controles de paginação -->
    </ul>

</div>

    <footer class="page-footer custom-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Fale Conosco</h5>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">location_on</i>
                        <p style="margin: 0;">R. Francisco Derosso, 3680 - Xaxim, Curitiba - PR, 81720-000</p>
                    </div>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">email</i>
                        <p style="margin: 0;"><a class="grey-text text-lighten-3" href="mailto:treinamento@nichele.com.br">treinamento@nichele.com.br</a></p>
                    </div>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">phone</i>
                        <p style="margin: 0;">(41) 99800-0484</p>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h6 class="white-text">Links</h6>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/como_funciona"">Como funciona</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://wa.me/5541998000484?text=Tenho%20interesse%20em%20doar%20um%20livro" target="_blank">Quero doar</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
                <div class="container" style="display: flex; justify-content: center; align-items: center;">
                    <!--© 2024 <a href="https://www.instagram.com/nemisconsultoriaetreinamentos" target="_blank" class="grey-text text-lighten-4">Nemis Consultoria e Treinamentos</a>
                    <a class="grey-text text-lighten-4 right" href="#!">Grupo Nichele ®</a>-->
                    <img src="./images/grupo-nichele.png" alt="Grupo Nichele" style="height: 20px;">
                </div>
        </div>
    </footer>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    // Lógica para carregar audiobooks dinamicamente
    document.addEventListener('DOMContentLoaded', function() {
        // Inicializar select e outros componentes Materialize
        M.AutoInit();
    });
</script>    
</body>

    <!-- Seu arquivo de scripts customizados -->
    <script src="/js/audio.js"></script>
    <script src="/js/scripts.js"></script>
</html>
