<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Aluno</title>
    <!-- Link do CDN do Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link para o arquivo scripts.js -->
    <script src="/js/cadastro_aluno.js" defer></script>
    <!-- Link para o jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Link para o jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Biblioteca</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h4 class="center-align">Cadastro de Aluno</h4>
    <div class="row">
        <form class="col s12" id="cadastro-aluno-form">
            <div class="row">
                <div class="input-field col s12 l4">
                    <i class="material-icons prefix">fingerprint</i>
                    <input id="cpf" name="cpf" type="text" class="validate custom-input">
                    <label for="cpf">CPF</label>
                </div>
                <div class="input-field col s12 l8">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="nome_completo" type="text" class="validate" required>
                    <label for="nome_completo">Nome Completo</label>
                </div>
                <div class="input-field col s12 l4">
                    <i class="material-icons prefix">phone</i>
                    <input id="celular" type="text" class="validate" required>
                    <label for="celular">Celular</label>
                </div>
                <div class="input-field col s12 l8">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate" required>
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field col s12 larger-col">
                    <i class="material-icons prefix">store</i>
                    <select id="loja" name="loja">
                        <option value="" disabled selected>Escolha a loja</option>
                        <option value="Araucária">Araucária</option>
                        <option value="Campo Largo">Campo Largo</option>
                        <option value="Fazenda Rio Grande">Fazenda Rio Grande</option>
                        <option value="Mateus Leme">Mateus Leme</option>
                        <option value="Pinhais">Pinhais</option>
                        <option value="Pinheirinho">Pinheirinho</option>
                        <option value="Santa Felicidade">Santa Felicidade</option>
                        <option value="Tá Na Mão">Tá Na Mão</option>
                        <option value="Tintas Brigadeiro Franco">Tintas Brigadeiro Franco</option>
                        <option value="Tintas Campo Comprido">Tintas Campo Comprido</option>
                        <option value="Tintas Castro">Tintas Castro</option>
                        <option value="Tintas Portão">Tintas Portão</option>
                        <option value="Vero. Nichele">Vero. Nichele</option>
                        <option value="Xaxim">Xaxim</option>
                    </select>
                    <label for="loja">Loja</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
                <i class="material-icons right">save</i>
            </button>
        </form>
    </div>
</div>
<footer class="page-footer">
    <div class="container">
        <!-- Remova as colunas e mantenha apenas o texto centralizado -->
        <div class="row">
            <div class="col s12 center-align">
                <p class="grey-text text-lighten-4">Sistema de gerenciamento de biblioteca.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2024 Biblioteca
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
