<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livro</title>
    <!-- Link do CDN do Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link para o jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Link para o jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>  
    <!-- Link para o arquivo scripts.js -->
    <script src="/js/cadastro_livro.js" defer></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Biblioteca</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/login.html">Login</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h5 class="center-align">Cadastro de Livro</h5>
    <div class="row">
        <form class="col s12" id="cadastro-livro-form">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">book</i>
                    <input id="titulo" type="text" class="validate" required>
                    <label for="titulo">Título</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <i class="material-icons prefix"
                        >account_circle</i>
                    <input id="autor" type="text" class="validate" required>
                    <label for="autor">Autor</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <i class="material-icons prefix">category</i>
                    <select id="genero" name="genero" required>
                        <option value="" disabled selected>Escolha o Gênero</option>
                        <option value="romance">Romance</option>
                        <option value="ficcao">Ficção Científica</option>
                        <option value="aventura">Aventura</option>
                        <option value="fantasia">Fantasia</option>
                        <option value="historia">História</option>
                    </select>
                    <label for="genero">Gênero</label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <i class="material-icons prefix">date_range</i>
                    <input id="ano_publicacao" type="number" class="validate" required>
                    <label for="ano_publicacao">Ano de Publicação</label>
                </div>
                <div class="input-field col s12 m6 l4">
                    <i class="material-icons prefix">business</i>
                    <input id="editora" name="editora" type="text" class="validate" required/>
                    <label for="editora">Editora</label>
                </div>
                <div class="input-field col s12 m6 l5">
                    <i class="material-icons prefix">group</i>
                    <input id="gentileza" name="gentileza" type="text" class="validate" required/>
                    <label for="gentileza">Gentileza</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    <textarea id="sinopse" class="materialize-textarea" required></textarea>
                    <label for="sinopse">Sinopse</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">image</i>
                    <input id="foto" type="text" class="validate" required>
                    <label for="foto">URL da Foto</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
                <i class="material-icons right">save</i>
            </button>
        </form>
    </div>
</div>
<footer class="page-footer">
    <!--<div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Biblioteca</h5>
                <p class="grey-text text-lighten-4">Sistema de gerenciamento de biblioteca.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="footer-copyright">
        <div class="container">
            © 2024 Biblioteca
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>