<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Como funciona</title>
        <!-- Link para o jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Materialize CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Estilos customizados -->
        <link href="/css/styles.css" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" href="./favicon-16x16.png" type="image/png">

        <!-- Link para o jQuery Mask Plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    </head>

<body>
    <nav>
        <div class="nav-wrapper custom-navbar">
            <a href="#" class="brand-logo custom-logo">
                <img src="/images/logo.png" alt="Logo" style="height: 100%; max-height: 20px;"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/livros">Livros</a></li>
                <li><a href="/ebooks">eBooks</a></li>
                <li><a href="/audiobooks">Audiobooks</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/como_funciona">Como funciona</a></li>
                <li id="menu-dropdown-container" style="display: none;">
                    <a class="dropdown-trigger" href="#" data-target="dropdown-menu">Menu</a>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown-menu" class="dropdown-content">
                        <li><a href="/gerenciar_alunos"><i class="material-icons">people</i>Alunos</a></li>
                        <li><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                        <li><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                        <li><a href="/gerenciar_emprestimos"><i class="material-icons">swap_horiz</i>Requisição</a></li>
                    </ul>
                </li>
                <!-- Logout icon -->
                <li id="logout-link-container" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i>
                    </a>
                </li>
                <!--<li id="login-link-container"><a href="#" id="modal-login-link">Login</a></li>-->
                <li id="login-link-container">
                    <a href="#" id="modal-login-link">
                        <i class="material-icons">login</i>
                    </a>
                </li>
            </ul>
            <!-- Mobile Menu -->
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="/livros"><i class="material-icons">book</i>Livros</a></li>
                <li><a href="/ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li><a href="/audiobooks"><i class="material-icons">audiotrack</i>Audiobooks</a></li>
                <li><a href="/contato"><i class="material-icons">contact_mail</i>Contato</a></li>
                <li><a href="/como_funciona"><i class="material-icons">info</i>Como funciona</a></li>
                <li class="menu-item"><a href="/gerenciar_alunos"><i class="material-icons">school</i>Alunos</a></li>
                <li class="menu-item"><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                <li class="menu-item"><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li class="menu-item"><a href="/gerenciar_emprestimos"><i class="material-icons">receipt</i>Requisição</a></li>
                <!-- Divider -->
                <li class="divider"></li>
                <li id="logout-link-mobile" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i> Sair
                    </a>
                </li>
                <li id="login-link-container-mobile"><a href="#" id="modal-login-link-mobile"><i class="material-icons">login</i>Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- Modal de Login -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
            <h4>Login</h4>
            <div class="row">
                <form class="col s12" id="form-login">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="text" class="validate" required>
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" class="validate" required>
                            <label for="password">Senha</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        <i class="material-icons right">login</i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h5>Bem-vindo à Biblioteca Nichele!</h5>
        <p>🎉 Olá, colaborador! Seja muito bem-vindo à <strong>Biblioteca Nichele!</strong></p>
        <p>Aqui, você tem acesso a uma coleção incrível de livros físicos e eBooks disponíveis em nosso acervo. Que show, né? 😃</p>
        <p>Se você quer um livro físico, é só solicitar pelo WhatsApp e aproveitar a leitura com tranquilidade. O melhor de tudo? O livro pode ser enviado via malote diretamente para a sua loja, ou você pode retirar no setor de Treinamento e Desenvolvimento na loja do Xaxim. Incrível, certo? 📚✨</p>
        <p>Mas tem mais! Você também pode acessar uma variedade de eBooks em formato PDF, baixá-los no seu dispositivo e ler quando e onde quiser. E o mais legal: você pode compartilhar esses livros com seus amigos! Isso mesmo, ajude a espalhar um dos valores mais importantes do <strong>Grupo Nichele</strong>: o desenvolvimento pessoal e profissional. 🌟💼</p>
        <p>Ah, e se você quiser fazer uma doação para o nosso acervo, seja ela física ou digital, não hesite em entrar em contato com o setor de Treinamento e Desenvolvimento! Se estiver procurando um eBook específico, nossa equipe irá verificar a possibilidade de adicioná-lo ao nosso catálogo. 😉</p>
        <p>Curtiu, né? 😎</p>
        <p>Essa é mais uma iniciativa do <strong>Grupo Nichele</strong>, pensada para impulsionar ainda mais o desenvolvimento dos colaboradores e incentivar o hábito da leitura. Então, o que você está esperando? Solicite seu empréstimo ou baixe seu eBook no nosso catálogo agora mesmo.</p>
        <p><strong>Boa leitura e aproveite! 📖🚀</strong></p>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

    <footer class="page-footer custom-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Fale Conosco</h5>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">location_on</i>
                        <p style="margin: 0;">Rua Francisco Derosso, 3680<br>Curitiba / PR</p>
                    </div>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">email</i>
                        <p style="margin: 0;"><a class="grey-text text-lighten-3" href="mailto:treinamento@nichele.com.br">treinamento@nichele.com.br</a></p>
                    </div>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">phone</i>
                        <p style="margin: 0;">(41) 99800-0484</p>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h6 class="white-text">Links</h6>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/como_funciona"">Como funciona</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://wa.me/5541998000484?text=Tenho%20interesse%20em%20doar%20um%20livro" target="_blank">Quero doar</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
                <div class="container">
                    © 2024 <a href="https://www.instagram.com/nemisconsultoriaetreinamentos" target="_blank" class="grey-text text-lighten-4">Nemis Consultoria e Treinamentos</a>
                    <a class="grey-text text-lighten-4 right" href="#!">Grupo Nichele ®</a>
                </div>
        </div>
    </footer>

    <!-- Link para o jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Link para o Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Seu arquivo de scripts customizados -->
    <script src="/js/scripts.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>

</html>