<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Estilos customizados -->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Link para o jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Link para o jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <!-- Link para o arquivo contato.js -->
    <script src="/js/contato.js" defer></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper custom-navbar">
            <a href="#" class="brand-logo custom-logo">Biblioteca</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/livros">Livros</a></li>
                <li><a href="/ebooks">eBooks</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/como_funciona">Como funciona</a></li>
                <li id="menu-dropdown-container" style="display: none;">
                    <a class="dropdown-trigger" href="#" data-target="dropdown-menu">Menu</a>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown-menu" class="dropdown-content">
                        <li><a href="/gerenciar_alunos"><i class="material-icons">people</i>Alunos</a></li>
                        <li><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                        <li><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                        <li><a href="/gerenciar_emprestimos"><i class="material-icons">swap_horiz</i>Requisição</a></li>
                    </ul>
                </li>
                <!-- Logout icon -->
                <li id="logout-link-container" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i>
                    </a>
                </li>
                <!--<li id="login-link-container"><a href="#" id="modal-login-link">Login</a></li>-->
                <li id="login-link-container">
                    <a href="#" id="modal-login-link">
                        <i class="material-icons">login</i>
                    </a>
                </li>
            </ul>
            <!-- Mobile Menu -->
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="/livros"><i class="material-icons">book</i>Livros</a></li>
                <li><a href="/ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li><a href="/contato"><i class="material-icons">contact_mail</i>Contato</a></li>
                <li><a href="/como_funciona"><i class="material-icons">info</i>Como funciona</a></li>
                <li class="menu-item"><a href="/gerenciar_alunos"><i class="material-icons">school</i>Alunos</a></li>
                <li class="menu-item"><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                <li class="menu-item"><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li class="menu-item"><a href="/gerenciar_emprestimos"><i class="material-icons">receipt</i>Requisição</a></li>
                <!-- Divider -->
                <li class="divider"></li>
                <li id="logout-link-mobile" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i> Sair
                    </a>
                </li>
                <li id="login-link-container-mobile">
                    <a href="#" id="modal-login-link-mobile">
                        <i class="material-icons">login</i>Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modal de Login -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
            <h4>Login</h4>
            <div class="row">
                <form class="col s12" id="form-login">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="text" class="validate" required>
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" class="validate" required>
                            <label for="password">Senha</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        <i class="material-icons right">login</i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>Contato</h4>
        <div class="row">
            <form class="col s12" id="form-contato">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="nome" name="nome" type="text" class="validate" required>
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">E-mail</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input id="celular" name="celular" type="text" class="validate" required>
                        <label for="celular">Celular</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">message</i>
                        <textarea id="mensagem" name="mensagem" class="materialize-textarea" required></textarea>
                        <label for="mensagem">Mensagem</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>
