<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar eBooks</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Estilos customizados -->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper custom-navbar">

            <!-- Logo -->
            <a href="/" class="brand-logo custom-logo">
                <img src="/images/logo.png" alt="Logo">
            </a>

            <!-- Mobile menu icon -->
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <!-- MENU DESKTOP -->
            <ul class="right hide-on-med-and-down">

                <!-- LINKS PRINCIPAIS -->
                <li><a href="/">Home</a></li>
                <li><a href="/livros">Livros</a></li>
                <li><a href="/ebooks">eBooks</a></li>
                <li><a href="/audiobooks">Audiobooks</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/como_funciona">Como funciona</a></li>

                <!-- MENU ADMIN (somente logado) -->
                <li id="admin-menu" style="display:none;">
                    <a class="dropdown-trigger" href="#" data-target="dropdown-menu">
                        Menu
                    </a>

                    <ul id="dropdown-menu" class="dropdown-content">
                        <li><a href="/gerenciar_alunos"><i class="material-icons">people</i>Alunos</a></li>
                        <li><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                        <li><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                        <li><a href="/gerenciar_emprestimos"><i class="material-icons">swap_horiz</i>Empréstimos</a></li>
                    </ul>
                </li>

                <!-- LOGOUT (somente logado) -->
                <li id="logout-link-container" style="display:none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i>
                    </a>
                </li>

                <!-- LOGIN (somente deslogado) -->
                <li id="login-link-container">
                    <a href="#" id="modal-login-link">
                        <i class="material-icons">login</i>
                    </a>
                </li>

            </ul>

            <!-- MENU MOBILE -->
            <ul class="sidenav" id="mobile-demo">

                <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="/livros"><i class="material-icons">book</i>Livros</a></li>
                <li><a href="/ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li><a href="/audiobooks"><i class="material-icons">audiotrack</i>Audiobooks</a></li>
                <li><a href="/contato"><i class="material-icons">contact_mail</i>Contato</a></li>
                <li><a href="/como_funciona"><i class="material-icons">info</i>Como funciona</a></li>

                <!-- ADMIN MOBILE (somente logado) -->
                <li id="admin-menu-mobile" style="display:none;">
                    <a href="/gerenciar_alunos"><i class="material-icons">school</i>Alunos</a>
                </li>

                <li id="admin-menu-mobile-2" style="display:none;">
                    <a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a>
                </li>

                <li id="admin-menu-mobile-3" style="display:none;">
                    <a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a>
                </li>

                <li id="admin-menu-mobile-4" style="display:none;">
                    <a href="/gerenciar_emprestimos"><i class="material-icons">receipt</i>Empréstimos</a>
                </li>

                <li class="divider"></li>

                <!-- LOGOUT MOBILE -->
                <li id="logout-link-mobile" style="display:none;">
                    <a href="#" id="logout-link-mobile-action">
                        <i class="material-icons">logout</i> Sair
                    </a>
                </li>

                <!-- LOGIN MOBILE -->
                <li id="login-link-container-mobile">
                    <a href="#" id="modal-login-link-mobile">
                        <i class="material-icons">login</i> Login
                    </a>
                </li>

            </ul>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <!-- Botão de adicionar livro à esquerda -->
            <div class="col s6 left-align">
                <a href="/gerenciar_ebooks/novo" class="btn-floating btn-large blue">
                    <i class="material-icons">add</i>
                </a>
            </div>

            <!-- Campo de busca de livro à direita -->
            <div class="col s6 right-align">
                <div class="input-field">
                    <input id="search" type="text" class="validate">
                    <label for="search">Buscar Ebook</label>
                    <i class="material-icons prefix" id="search-icon">search</i>
                </div>
            </div>
        </div>

        <div class="row">

        <table class="striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="titulo-coluna">Título</th>
                    <th>Autor</th>
                    <th>Situação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="ebooks-table-body">
                <!-- Linhas da tabela serão inseridas aqui -->
            </tbody>
        </table>
        <!-- Controles de Paginação -->
        <ul class="pagination" id="pagination-controls"></ul>
    </div>

    <!-- Modal de Confirmar Exclusão de Livro -->
    <div id="modal-confirm-exclusao" class="modal">
        <div class="modal-content">
            <h5>Confirmar Exclusão</h5>
            <p>Deseja realmente excluir o livro <span id="livro-nome"></span>?</p>
        </div>
        <div class="modal-footer">
            <a href="#" id="confirmar-exclusao" class="modal-close waves-effect waves-green btn-flat">Sim</a>
            <a href="#" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
        </div>
    </div>
  
       <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/gerenciar_ebooks.js"></script>
    <script src="/js/auth.js"></script>
        
</body>

</html>
