<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Livros</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Estilos customizados -->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper custom-navbar">
            <a href="#" class="brand-logo custom-logo">Biblioteca</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/ebooks">eBooks</a></li>
                <li id="menu-dropdown-container" style="display: none;">
                    <a class="dropdown-trigger" href="#" data-target="dropdown-menu">Menu</a>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown-menu" class="dropdown-content">
                        <li><a href="/gerenciar_alunos"><i class="material-icons">people</i>Alunos</a></li>
                        <li><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                        <li><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                        <li><a href="/gerenciar_emprestimos"><i class="material-icons">swap_horiz</i>Requisição</a></li>
                    </ul>
                </li>
                <!-- Logout icon -->
                <li id="logout-link-container" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i>
                    </a>
                </li>
                <li id="login-link-container"><a href="#" id="modal-login-link">Login</a></li>
            </ul>
            <!-- Mobile Menu -->
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="/contato"><i class="material-icons">contact_mail</i>Contato</a></li>
                <li><a href="/ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li class="menu-item"><a href="/gerenciar_alunos"><i class="material-icons">school</i>Alunos</a></li>
                <li class="menu-item"><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                <li class="menu-item"><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li class="menu-item"><a href="/gerenciar_emprestimos"><i class="material-icons">receipt</i>Requisição</a></li>
                <!-- Divider -->
                <li class="divider"></li>
                <li id="logout-link-mobile" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i> Sair
                    </a>
                </li>
                <li id="login-link-container-mobile"><a href="#" id="modal-login-link-mobile"><i class="material-icons">login</i>Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <!-- Botão de adicionar livro à esquerda -->
            <div class="col s6 left-align">
                <a class="btn-floating btn-large waves-effect waves-light blue modal-trigger" href="#modal-add-livro">
                    <i class="material-icons">add</i>
                </a>
            </div>

            <!-- Campo de busca de livro à direita -->
            <div class="col s6 right-align">
                <div class="input-field">
                    <input id="search" type="text" class="validate">
                    <label for="search">Buscar Livro</label>
                    <i class="material-icons prefix" id="search-icon">search</i>
                </div>
            </div>
        </div>

        <div class="row">

        <table class="striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="titulo-coluna">Título</th>
                    <th>Autor</th>
                    <th>Gênero</th>
                    <th>Situação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="livros-table-body">
                <!-- Linhas da tabela serão inseridas aqui -->
            </tbody>
        </table>
        <!-- Controles de Paginação -->
        <ul class="pagination" id="pagination-controls"></ul>
    </div>

    <!-- Modal de Adicionar Livro -->
    <div id="modal-add-livro" class="modal modal-custom-height">
        <div class="modal-content">
            <h6>Adicionar Livro</h6>
            <div class="row">
                <form class="col s12" id="form-add-livro">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">book</i>
                            <input id="titulo" type="text" class="validate" required>
                            <label for="titulo">Título</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="autor" type="text" class="validate" required>
                            <label for="autor">Autor</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">category</i>
                            <select id="genero" name="genero" required>
                                <option value="" disabled selected>Escolha o gênero</option>
                                <option value="Didático e Textos Acadêmicos">Didático e Textos Acadêmicos</option>
                                <option value="Drama">Drama</option>
                                <option value="Ficção">Ficção</option>
                                <option value="Literatura Infantojuvenil">Literatura Infantojuvenil</option>
                                <option value="Não-ficção">Não-ficção</option>
                                <option value="Ficção Científica">Ficção Científica</option>
                                <option value="Poesia">História</option>
                                <option value="Religião e Espiritualidade">Religião e Espiritualidade</option>
                            </select>
                            <label for="genero">Gênero</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">date_range</i>
                            <input id="ano_publicacao" type="number" class="validate" required>
                            <label for="ano_publicacao">Ano de Publicação</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">business</i>
                            <input id="editora" name="editora" type="text" class="validate" required/>
                            <label for="editora">Editora</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <textarea id="sinopse" class="materialize-textarea" required></textarea>
                            <label for="sinopse">Sinopse</label>
                        </div>
                            <div class="input-field col s12">
                            <i class="material-icons prefix">image</i>
                            <input id="foto" type="text" class="validate" required>
                            <label for="foto">URL da Foto</label>
                        </div>
                            <div class="input-field col s12">
                            <i class="material-icons prefix">cloud_download</i>
                            <input id="url" name="gentileza" type="text" class="validate" required/>
                            <label for="url">URL do Arquivo</label>
                        </div>
                        <div class="input-field col s12">
                            <div class="switch">
                                <label>
                                    Indisponível
                                    <input id="switch-situacao" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Disponível
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
                            <i class="material-icons right">save</i>
                        </button>
                        <button class="btn red modal-close" type="submit" name="action" id="btn-cancelar-modal">Cancelar
                            <i class="material-icons right">cancel</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal de Editar Livro -->
    <div id="modal-edit-livro" class="modal modal-custom-height">
        <div class="modal-content">
            <h5>Editar Livro</h5>
            <div class="row">
                <form class="col s12" id="form-edit-livro">
                    <div class="row">
                        <input type="hidden" id="edit-id-livro">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">book</i>
                            <input id="edit-titulo" type="text" class="validate" required>
                            <label for="edit-titulo">Título</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="edit-autor" type="text" class="validate" required>
                            <label for="edit-autor">Autor</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">category</i>
                            <select id="edit-genero" name="edit-genero" required>
                                <option value="" disabled selected>Escolha o gênero</option>
                                <option value="Didático e Textos Acadêmicos">Didático e Textos Acadêmicos</option>
                                <option value="Drama">Drama</option>
                                <option value="Ficção">Ficção</option>
                                <option value="Literatura Infantojuvenil">Literatura Infantojuvenil</option>
                                <option value="Não-ficção">Não-ficção</option>
                                <option value="Ficção Científica">Ficção Científica</option>
                                <option value="Poesia">História</option>
                                <option value="Religião e Espiritualidade">Religião e Espiritualidade</option>
                            </select>
                            <label for="edit-genero">Gênero</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">date_range</i>
                            <input id="edit-ano_publicacao" type="number" class="validate" required>
                            <label for="edit-ano_publicacao">Ano de Publicação</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">business</i>
                            <input id="edit-editora" name="edit-editora" type="text" class="validate" required/>
                            <label for="edit-editora">Editora</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <textarea id="edit-sinopse" class="materialize-textarea" required></textarea>
                            <label for="edit-sinopse">Sinopse</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">image</i>
                            <input id="edit-foto" type="text" class="validate" required>
                            <label for="edit-foto">URL da Foto</label>
                        </div>
                            <div class="input-field col s12">
                            <i class="material-icons prefix">cloud_download</i>
                            <input id="edit-url" name="edit-url" type="text" class="validate" required/>
                            <label for="edit-url">URL do Arquivo</label>
                        </div>
                        <div class="input-field col s12">
                            <div class="switch">
                                <label>
                                    Indisponível
                                    <input id="edit-switch-situacao" type="checkbox">
                                    <span class="lever"></span>
                                    Disponível
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Alterar
                                <i class="material-icons right">update</i>
                            </button>
                            <button class="btn red modal-close" type="submit" name="action" id="btn-cancelar-modal">Cancelar
                                <i class="material-icons right">cancel</i>
                            </button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmar Exclusão de Livro -->
    <div id="modal-confirm-exclusao" class="modal">
        <div class="modal-content">
            <h5>Confirmar Exclusão</h5>
            <p>Deseja realmente excluir o livro <span id="livro-nome"></span>?</p>
        </div>
        <div class="modal-footer">
            <a href="#" id="confirmar-exclusao" class="modal-close waves-effect waves-green btn-flat">Sim</a>
            <a href="#" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
        </div>
    </div>
  
       <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/gerenciar_ebooks.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/inatividade.js"></script>
</body>

</html>
