<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Nichele</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Estilos customizados -->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="./favicon-16x16.png" type="image/png">
</head>
<body>

    <!-- Desktop Navbar -->
    <nav>
        <div class="nav-wrapper custom-navbar">
            <a href="#" class="brand-logo custom-logo">Biblioteca</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/livros">Livros</a></li>
                <li><a href="/ebooks">eBooks</a></li>
                <li><a href="/contato">Contato</a></li>
                <li id="menu-dropdown-container" style="display: none;">
                    <a class="dropdown-trigger" href="#" data-target="dropdown-menu">Menu</a>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown-menu" class="dropdown-content">
                        <li><a href="/gerenciar_alunos"><i class="material-icons">people</i>Alunos</a></li>
                        <li><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                        <li><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                        <li><a href="/gerenciar_emprestimos"><i class="material-icons">swap_horiz</i>Requisição</a></li>
                    </ul>
                </li>
                <!-- Logout icon -->
                <li id="logout-link-container" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i>
                    </a>
                </li>
                <li id="login-link-container"><a href="#" id="modal-login-link">Login</a></li>
            </ul>
            <!-- Mobile Menu -->
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="/livros"><i class="material-icons">book</i>Livros</a></li>
                <li><a href="/ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li><a href="/contato"><i class="material-icons">contact_mail</i>Contato</a></li>
                <li class="menu-item"><a href="/gerenciar_alunos"><i class="material-icons">school</i>Alunos</a></li>
                <li class="menu-item"><a href="/gerenciar_livros"><i class="material-icons">book</i>Livros</a></li>
                <li class="menu-item"><a href="/gerenciar_ebooks"><i class="material-icons">book</i>eBooks</a></li>
                <li class="menu-item"><a href="/gerenciar_emprestimos"><i class="material-icons">receipt</i>Requisição</a></li>
                <!-- Divider -->
                <li class="divider"></li>
                <li id="logout-link-mobile" style="display: none;">
                    <a href="#" id="logout-link">
                        <i class="material-icons">logout</i> Sair
                    </a>
                </li>
                <li id="login-link-container-mobile"><a href="#" id="modal-login-link-mobile"><i class="material-icons">login</i>Login</a></li>
            </ul>
        </div>
    </nav>

<div class="container">
    
    <!-- Carrossel dos 5 eBooks mais baixados -->
    <h6>Últimos 5 eBooks Adicionados</h6>
    <div id="recent-ebooks" class="collection">
        <!-- Os itens dos eBooks serão inseridos aqui pela função -->
    </div>

    <p></p>
        
    <h6>eBooks mais baixados</h6>
    <div id="colecao-ebooks" class="collection">
        <!-- Os itens dos eBooks serão inseridos aqui pela função -->
    </div>
    
</div>

<p></p>

<footer class="page-footer custom-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Fale Conosco</h5>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">location_on</i>
                        <p style="margin: 0;">Rua Francisco Derosso, 3680<br>Curitiba / PR</p>
                    </div>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">email</i>
                        <p style="margin: 0;"><a class="grey-text text-lighten-3" href="mailto:treinamento@nichele.com.br">treinamento@nichele.com.br</a></p>
                    </div>
                    <div class="contact-item" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 10px;">phone</i>
                        <p style="margin: 0;">(41) 99800-0484</p>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h6 class="white-text">Links</h6>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/como_funciona"">Como Funciona</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2024 Nemis Consultoria & Treinamentos
                <a class="grey-text text-lighten-4 right" href="#!">Grupo Nichele ®</a>
            </div>
        </div>
    </footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/home.js"></script>

</body>
</html>
